{% extends 'base.html.twig' %}

{% block title %}Modifier Suivi - LAMMA{% endblock %}
{% block page_title %}Édition Restauration Spécifique{% endblock %}

{% block body %}
<section class="crud-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card card-detail">
                    <div class="card-header">Mise à jour Dossier </div>
                    <div class="card-body form-section">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.participantId) }}</div>
                            <div class="col-md-6">{{ form_row(form.evenementId) }}</div>
                            <div class="col-12">{{ form_row(form.besoinLibelle) }}</div>
                            <div class="col-12">{{ form_row(form.besoinDescription) }}</div>
                            <div class="col-md-6">{{ form_row(form.restrictionLibelle) }}</div>
                            <div class="col-md-6">{{ form_row(form.niveauGravite) }}</div>
                            <div class="col-12">{{ form_row(form.restrictionDescription) }}</div>
                            <div class="col-md-6">{{ form_row(form.menuPropositionId) }}</div>
                            <div class="col-12">{{ form_row(form.commentaire) }}</div>
                            <div class="col-md-6" style="padding-top:30px;">{{ form_row(form.restrictionActive) }}</div>
                            <div class="col-md-6" style="padding-top:30px;">{{ form_row(form.annule) }}</div>
                        </div>
                        <div class="mt-4 text-center">
                            <button class="btn btn-add">Sauvegarder</button>
                            <a href="{{ path('app_participation_restaurant_index') }}" class="btn btn-secondary" style="border-radius:25px;padding:10px 30px;">Annuler</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
