{{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.email) }}
    {{ form_row(form.logo) }}
    {{ form_row(form.statut) }}

    <button type="submit" class="btn btn-primary">
        {{ button_label|default('Enregistrer') }}
    </button>

{{ form_end(form) }}