{% extends 'base.html.twig' %}

{% block title %}Modifier Programme - LAMMA{% endblock %}
{% block page_title %}Mise à jour Activité{% endblock %}

{% block body %}
<section class="crud-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card card-detail">
                    <div class="card-header">Détails de modification </div>
                    <div class="card-body form-section">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-12">{{ form_row(form.activite) }}</div>
                            <div class="col-md-6">{{ form_row(form.heureDebut) }}</div>
                            <div class="col-md-6">{{ form_row(form.heureFin) }}</div>
                            <div class="col-md-6">{{ form_row(form.ambiance) }}</div>
                            <div class="col-md-6" style="padding-top:30px;">{{ form_row(form.recommande) }}</div>
                            <div class="col-12">{{ form_row(form.justification) }}</div>
                            <div class="col-md-6">{{ form_row(form.participationId) }}</div>
                        </div>
                        <div class="mt-4 text-center">
                            <button class="btn btn-add">Mettre à jour</button>
                            <a href="{{ path('app_programme_recommande_index') }}" class="btn btn-secondary" style="border-radius:25px;padding:10px 30px;">Annuler</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
