<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}EventCon{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Gestion des événements{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/gijgo.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {% block stylesheets %}{% endblock %}
</head>

<body>
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="{{ path('app_evenement_index') }}">
                                        <img src="{{ asset('uploads/logo.png') }}" alt="Logo" style="max-height: 80px;">
                                    </a>
                                </div>
                            </div>

                            <div class="col-xl-8 col-lg-8">
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li>
                                                <a href="{{ path('app_evenement_index') }}">Accueil</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_evenement_index') }}">Événements</a>
                                            </li>
                                            {% if app.session.get('role') == 'admin' %}
                                            <li>
                                                <a href="{{ path('app_evenement_new') }}"><i class="fa fa-plus"></i> Ajouter événement</a>
                                            </li>
                                            {% endif %}

                                            <li>
                                                <a href="#">Pages <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{{ path('app_evenement_index') }}"><i class="fa fa-list"></i> Liste des événements</a></li>
                                                    {% if app.session.get('role') == 'admin' %}
                                                        <li><a href="{{ path('app_evenement_new') }}"><i class="fa fa-plus-circle"></i> Créer un événement</a></li>
                                                    {% endif %}
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="#">Contact</a>
                                            </li>
                                            <li>
                                                <a href="#">{% if app.session.get('role') == 'admin' %}<span class="text-danger">Admin</span>{% else %}<span class="text-primary">User</span>{% endif %} <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{{ path('app_switch_role', {'role': 'admin'}) }}">Mode Administrateur</a></li>
                                                    <li><a href="{{ path('app_switch_role', {'role': 'user'}) }}">Mode Utilisateur</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                                <div class="buy_tkt">
                                    {% if app.session.get('role') == 'admin' %}
                                    <div class="book_btn d-none d-lg-block">
                                        <a href="{{ path('app_evenement_new') }}"><i class="fa fa-plus-circle"></i> Créer</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block hero %}
        <div class="slider_area">
            <div class="single_slider d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                                <div class="shape_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                    <img src="{{ asset('img/shape/shape_1.svg') }}" alt="">
                                </div>
                                <div class="shape_2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".2s">
                                    <img src="{{ asset('img/shape/shape_2.svg') }}" alt="">
                                </div>
                                <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Gestion d'événements</span>
                                <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">Bienvenue</h3>
                                <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">Votre Plateforme</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block extra_sections %}
        <div class="brand_area black_bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section_title text-center mb-80">
                            <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">Nos partenaires</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand_wrap">
                            <div class="brand_active owl-carousel">
                                <div class="single_brand text-center">
                                    <img src="{{ asset('img/brand/1.png') }}" alt="">
                                </div>
                                <div class="single_brand text-center">
                                    <img src="{{ asset('img/brand/2.png') }}" alt="">
                                </div>
                                <div class="single_brand text-center">
                                    <img src="{{ asset('img/brand/3.png') }}" alt="">
                                </div>
                                <div class="single_brand text-center">
                                    <img src="{{ asset('img/brand/4.png') }}" alt="">
                                </div>
                                <div class="single_brand text-center">
                                    <img src="{{ asset('img/brand/5.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="footer_widget">
                            <div class="address_details text-center">
                                <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Event Management</h4>
                                
                                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                    Gérer, consulter et organiser les événements facilement.
                                </p>
                                <a href="{{ path('app_evenement_index') }}" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                    Voir les événements
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            Tous droits réservés
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ asset('js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('js/ajax-form.js') }}"></script>
    <script src="{{ asset('js/waypoints.min.js') }}"></script>
    <script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset('js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('js/scrollIt.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script src="{{ asset('js/gijgo.min.js') }}"></script>
    <script src="{{ asset('js/nice-select.min.js') }}"></script>
    <script src="{{ asset('js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/tilt.jquery.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/contact.js') }}"></script>
    <script src="{{ asset('js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ asset('js/jquery.form.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/mail-script.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>