{% extends 'base_admin.html.twig' %}

{% block title %}Programmes{% endblock %}

{% block body %}
    <h1 class="mt-4">Liste des Programmes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_evenement_index') }}">Événements</a></li>
        <li class="breadcrumb-item active">Programmes</li>
    </ol>
    
    <div class="card bg-dark text-white border-secondary mb-4">
        <div class="card-header border-secondary border-bottom">
            <i class="fas fa-list me-1"></i> Programmes
        </div>
        <div class="card-body">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for programme in programmes %}
                    <tr>
                        <td>{{ programme.titre }}</td>
                        <td>{{ programme.date_debut ? programme.date_debut|date('d/m/Y H:i') : '' }}</td>
                        <td>{{ programme.date_fin ? programme.date_fin|date('d/m/Y H:i') : '' }}</td>
                        <td>
                            <a href="{{ path('app_programme_show', {'id_prog': programme.id_prog}) }}" class="btn btn-sm btn-info">Voir</a>
                            <a href="{{ path('app_programme_edit', {'id_prog': programme.id_prog}) }}" class="btn btn-sm btn-warning">Éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center text-muted">Aucun programme trouvé.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
