{% extends 'base_admin.html.twig' %}

{% block title %}Détails du Programme{% endblock %}

{% block body %}
    <h1 class="mt-4">Détails du Programme</h1>
    
    <div class="card bg-dark text-white border-secondary mb-4 mt-3">
        <div class="card-header border-secondary border-bottom">
            Programme : {{ programme.titre }}
        </div>
        <div class="card-body">
            <table class="table table-dark table-striped">
                <tbody>
                    <tr>
                        <th style="width: 200px;">Événement</th>
                        <td>{{ programme.event_id ? programme.event_id.titre : 'Aucun' }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ programme.titre }}</td>
                    </tr>
                    <tr>
                        <th>Date et Heure Début</th>
                        <td>{{ programme.date_debut ? programme.date_debut|date('d/m/Y H:i') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Date et Heure Fin</th>
                        <td>{{ programme.date_fin ? programme.date_fin|date('d/m/Y H:i') : '' }}</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="mt-4 d-flex justify-content-between">
                <a href="{{ path('app_evenement_show', {'id': programme.event_id.id_event}) }}" class="btn btn-outline-light">Retour à l'événement</a>
                <a href="{{ path('app_programme_edit', {'id_prog': programme.id_prog}) }}" class="btn btn-warning">Modifier</a>
            </div>
        </div>
    </div>
{% endblock %}
